/* chivo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/chivo-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* chivo-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chivo";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/chivo-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* chivo-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chivo";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/chivo-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* chivo-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Chivo";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/chivo-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primary-ff: "Chivo", sans-serif;

  --color-background: #121725;
  --color-neutral: #ffffff;
  --color-accent: #54e6af;
  --color-paragraph: #c2cbe5;

  --color-input-background: #2c344b;
  --color-error: #f87171;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-ff);
}

.content {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-background);
  background-image: url("./../assets/desktop/image-host.jpg");
  background-repeat: no-repeat;
  background-position: 650px 90px;
  background-size: 50%;
}

.wrapper {
  --width: 71.25rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  padding: 3rem 0;
}

.hero {
  --width: 45rem;
  margin-top: 4.5rem;
  max-width: var(--width);
  background-color: var(--color-background);
  border-radius: 11px;
  padding: 1.5rem;
}

.hero__title {
  letter-spacing: 3px;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--color-neutral);
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero__special {
  display: block;
  color: var(--color-accent);
}

.hero__description {
  line-height: 1.5;
  color: var(--color-paragraph);
  margin-bottom: 2rem;
}

.form {
  --width: 30rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: var(--width);
}

.form__item {
  position: relative;
}

.form__input {
  border-radius: 10rem;
  width: 100%;
  background-color: var(--color-input-background);
  color: var(--color-paragraph);
  border: none;
  font-family: inherit;
  padding: 1.2rem 1.5rem;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.btn--request {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  background-color: var(--color-accent);
  border-radius: 10rem;
  padding: 1rem 1.5rem;
  font-weight: 500;
}

.form__error {
  color: var(--color-error);
  font-weight: 500;
  font-size: 0.833rem;
  padding-left: 1.5rem;
  display: none;
}

.form__error.show {
  display: block;
}

.companies {
  padding-right: 5rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.logo:link,
.logo:visited {
  display: inline-block;
}

.decoration {
  position: absolute;
  right: 0;
  top: 70%;
}

@media (max-width: 81.25rem) {
  .content {
    background-size: 70%;
    background-position: right 90px;
  }
}

@media (max-width: 59rem) {
  .content {
    background-size: 70%;
    background-position: right top;
  }

  .decoration {
    top: 85%;
    right: unset;
    left: 2rem;
  }
}

@media (max-width: 59rem) and (orientation: landscape) {
  .decoration {
    display: none;
  }
}

@media (max-width: 47rem) {
  .content {
    --gradient: rgba(18, 23, 37, 0.5);
    background-size: cover;
    background-image: linear-gradient(var(--gradient), var(--gradient)),
      url("./../assets/tablet/image-host.jpg");
  }

  .form__error {
    padding-left: 0;
  }

  .decoration {
    display: none;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero {
    margin-top: 1rem;
    text-align: center;
    background-color: transparent;
  }

  .hero__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .form {
    width: 100%;
  }

  .companies {
    order: -1;
    padding: 0;
    width: 100%;
    gap: 1rem;
    place-items: center;
  }

  .companies__image {
    width: 100%;
  }

  .hero__title {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .hero__description {
    margin-bottom: 3rem;
  }
}

@media (max-width: 31.25rem) {
  .companies {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .form__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .btn--request {
    position: static;
    transform: translateY(0);
  }
}
